## Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes
carrega’l a un Pandas Dataframe.

*Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.*

In [9]:
import pandas as pd
df = pd.read_csv('Documents/DelayedFlights.csv')
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [16]:
df = df.sample(n = 200000)
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1342519,4520007,2008,8,21,4,940.0,930,1207.0,1147,US,...,9.0,34.0,0,N,0,0.0,0.0,10.0,0.0,10.0
1474840,5090630,2008,9,16,2,943.0,925,1044.0,1017,US,...,5.0,22.0,0,N,0,0.0,0.0,9.0,0.0,18.0
1464282,5038915,2008,9,27,6,929.0,923,1202.0,1157,UA,...,4.0,21.0,0,N,0,NaN,NaN,NaN,NaN,NaN
926425,3112855,2008,6,26,4,838.0,830,1140.0,1122,XE,...,10.0,23.0,0,N,0,8.0,0.0,10.0,0.0,0.0
1803076,6643108,2008,12,17,3,845.0,736,1313.0,1138,OO,...,16.0,48.0,0,N,0,69.0,0.0,26.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748226,6513460,2008,12,18,4,640.0,630,737.0,715,WN,...,2.0,24.0,0,N,0,10.0,0.0,12.0,0.0,0.0
183319,604108,2008,1,14,1,1321.0,1245,1525.0,1504,DL,...,9.0,13.0,0,N,0,21.0,0.0,0.0,0.0,0.0
615603,1941649,2008,4,6,7,1720.0,1700,2045.0,1840,OH,...,18.0,101.0,0,N,0,0.0,20.0,105.0,0.0,0.0
816657,2733984,2008,5,11,7,1416.0,1357,1722.0,1717,F9,...,7.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1476165,5099581,2008,9,23,2,906.0,853,1716.0,1653,US,...,7.0,29.0,0,N,0,13.0,0.0,10.0,0.0,0.0

 * #### Explora les dades que conté

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, 1342519 to 1476165
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199282 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            199999 non-null  object
 12  ActualElapsedTime  199147 non-null  float64
 13  CRSElapsedTime     199985 non-null  float64
 14  AirTime            199147 non-null  float64
 15  ArrDelay           199147 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199282 non-null  float64
 21  TaxiOut            199965 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128607 non-null  float64
 26  WeatherDelay       128607 non-null  float64
 27  NASDelay           128607 non-null  float64
 28  SecurityDelay      128607 non-null  float64
 29  LateAircraftDelay  128607 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 47.3+ MB

In [18]:
df.shape

(200000, 30)

In [19]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [20]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1342519,4520007,2008,8,21,4,940.0,930,1207.0,1147,US,...,9.0,34.0,0,N,0,0.0,0.0,10.0,0.0,10.0
1474840,5090630,2008,9,16,2,943.0,925,1044.0,1017,US,...,5.0,22.0,0,N,0,0.0,0.0,9.0,0.0,18.0
1464282,5038915,2008,9,27,6,929.0,923,1202.0,1157,UA,...,4.0,21.0,0,N,0,NaN,NaN,NaN,NaN,NaN
926425,3112855,2008,6,26,4,838.0,830,1140.0,1122,XE,...,10.0,23.0,0,N,0,8.0,0.0,10.0,0.0,0.0
1803076,6643108,2008,12,17,3,845.0,736,1313.0,1138,OO,...,16.0,48.0,0,N,0,69.0,0.0,26.0,0.0,0.0

* #### Explica breument quines variables hi ha
Unnamed:

**Información del avión**
* UniqueCarrier: siglas compañia
* FLightNum: número de vuelo
* TailNum: número de avión

**Información, destino, origen y distancia del vuelo** 
* Origin: origen del vuelo
* Dest: destino del vuelo
* Distance: distacia del vuelo

**Fecha:** 
* Year:año del vuelo
* Month: mes del vuelo
* DayofMont:día del vuelo
* DayOfWeek: día de la semana del vuelo 

**Información horaria,tiempos y retrasos**
* DepTime: hora de salida real. (hhmm)
* CRSDepTime: hora de salida programada(hhmm)
* ArrTime: hora de llegada real(hhmm)
* CRSArrTime: hora de llegada progama (hhmm) 
* ActualElapsedTime:  tiempo total real entre la salida y la llegada del vuelo (minutos)
* CRSElapsedTime: tiempo total programado entre la salida y llegada del vuelo (minutos)
* AirTIme: tiempo de vuelo (minutos)
* ArrDelay: retraso en la llegada. (minutos)
* DepDelay: retraso en la salida. (minutos)
* TaxiIn: período desde el momento en el que el avión aterriza hasta que aparca en la puerta (minutos)
* TaxiOut: período desde el momento en el que el avión abandona la puerta hasta que despega(minutos)

**Tipos de retraso**
* Diverted: vuelo desviado, 1=sí 0=no
* CarrierDelay: retraso de la compañia (minutos)
* WeatherDelay: retraso por condiciones atmosféricas (minutos) 
* NASDelay: retraso devido al sistema nacional de aviación (National Airspace System) (minutos)
* SecurityDelay: retraso por cuestiones de seguridad (minutos)
* LAteAircraftDelay: retraso por aviones que llegan tarde (minutos)

**Cancelaciones**
* Cancelled: vuelo cancelado, 1=sí, 0=no
* CancellationCode: código de cancelación

* #### Troba quantes dades faltants hi ha per columna.

In [21]:
df.isnull().sum()

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                718
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime      853
CRSElapsedTime          15
AirTime                853
ArrDelay               853
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 718
TaxiOut                 35
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71393
WeatherDelay         71393
NASDelay             71393
SecurityDelay        71393
LateAircraftDelay    71393
dtype: int64

* #### Queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

Las columnas que se van a necesitar para los próximos cálculos:

- Origin
- Dest
- Distance
- UniqueCarrier 
- AirTime
- ArrDelay (coincide con la suma de los minutos de los diferentes tipos de retrasos).

In [22]:
df_reducido = df.copy()
df_reducido = df_reducido.drop(columns = ['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime',  'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'DepDelay',  'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'])
df_reducido

        UniqueCarrier  AirTime  ArrDelay Origin Dest  Distance
1342519            US    104.0      20.0    CLT  BOS       728
1474840            US     94.0      27.0    CLT  MSY       651
1464282            UA    308.0       5.0    LAX  OGG      2486
926425             XE    149.0      18.0    CLE  MIA      1080
1803076            OO    144.0      95.0    SLC  ORD      1249
...               ...      ...       ...    ...  ...       ...
1748226            WN     91.0      22.0    CLE  STL       487
183319             DL    102.0      21.0    ATL  LGA       761
615603             OH     86.0     125.0    DCA  BOS       399
816657             F9    110.0       5.0    SMF  DEN       910
1476165            US    274.0      23.0    PHX  BOS      2300

[200000 rows x 6 columns]

Revisamos los datos que faltan por columnas.

In [23]:
df_reducido.isnull().sum()

UniqueCarrier      0
AirTime          853
ArrDelay         853
Origin             0
Dest               0
Distance           0
dtype: int64

hacemos limpieza de las filas sin datos, como Airtime y ArrDelay les faltan la misma cantidad de datos supongo que son los mismos registros

In [24]:
df_reducido = df_reducido.dropna(subset=['ArrDelay'])
df_reducido.isnull().sum()

UniqueCarrier    0
AirTime          0
ArrDelay         0
Origin           0
Dest             0
Distance         0
dtype: int64

## Exercici 2
#### Fes un informe complet del dataset:
* #### Resumeix estadísticament el dataset i les columnes d’interès.

* #### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

Resvisamos los datos que hay en las columnas Airtime y distancia

In [10]:
df_reducido.isnull().sum()

UniqueCarrier    0
AirTime          0
ArrDelay         0
Origin           0
Dest             0
Distance         0
dtype: int64

In [25]:
round(df_reducido.describe())

        AirTime  ArrDelay  Distance
count  199147.0  199147.0  199147.0
mean      108.0      42.0     764.0
std        68.0      57.0     573.0
min         0.0     -61.0      31.0
25%        58.0       9.0     338.0
50%        90.0      24.0     606.0
75%       137.0      56.0     992.0
max       655.0    1395.0    4962.0

Como hay que dividir distancia / tiempo no pueden haber valores que sean 0 o Nan. Eliminamos esas filas.

In [26]:
df_reducido = df_reducido.dropna(subset=['AirTime'])

In [27]:
df_reducido.drop( df_reducido[df_reducido['AirTime']== 0].index, inplace = True)
round(df_reducido.describe())

        AirTime  ArrDelay  Distance
count  199145.0  199145.0  199145.0
mean      108.0      42.0     764.0
std        68.0      57.0     573.0
min         1.0     -61.0      31.0
25%        58.0       9.0     338.0
50%        90.0      24.0     606.0
75%       137.0      56.0     992.0
max       655.0    1395.0    4962.0

In [29]:
df_reducido.loc[:, "VelMed"] = round(df_reducido['Distance']/ (df_reducido['AirTime'] / 60))
df_reducido

        UniqueCarrier  AirTime  ArrDelay Origin Dest  Distance  VelMed
1342519            US    104.0      20.0    CLT  BOS       728   420.0
1474840            US     94.0      27.0    CLT  MSY       651   416.0
1464282            UA    308.0       5.0    LAX  OGG      2486   484.0
926425             XE    149.0      18.0    CLE  MIA      1080   435.0
1803076            OO    144.0      95.0    SLC  ORD      1249   520.0
...               ...      ...       ...    ...  ...       ...     ...
1748226            WN     91.0      22.0    CLE  STL       487   321.0
183319             DL    102.0      21.0    ATL  LGA       761   448.0
615603             OH     86.0     125.0    DCA  BOS       399   278.0
816657             F9    110.0       5.0    SMF  DEN       910   496.0
1476165            US    274.0      23.0    PHX  BOS      2300   504.0

[199145 rows x 7 columns]

In [30]:
df_reducido.loc[:, "Retard"]= df_reducido['ArrDelay'].apply(lambda x: 'No' if x < 0 else 'Sí')
df_reducido

        UniqueCarrier  AirTime  ArrDelay Origin Dest  Distance  VelMed Retard
1342519            US    104.0      20.0    CLT  BOS       728   420.0     Sí
1474840            US     94.0      27.0    CLT  MSY       651   416.0     Sí
1464282            UA    308.0       5.0    LAX  OGG      2486   484.0     Sí
926425             XE    149.0      18.0    CLE  MIA      1080   435.0     Sí
1803076            OO    144.0      95.0    SLC  ORD      1249   520.0     Sí
...               ...      ...       ...    ...  ...       ...     ...    ...
1748226            WN     91.0      22.0    CLE  STL       487   321.0     Sí
183319             DL    102.0      21.0    ATL  LGA       761   448.0     Sí
615603             OH     86.0     125.0    DCA  BOS       399   278.0     Sí
816657             F9    110.0       5.0    SMF  DEN       910   496.0     Sí
1476165            US    274.0      23.0    PHX  BOS      2300   504.0     Sí

[199145 rows x 8 columns]

* #### Fes una anàlisi estadístic del que consideris rellevant.

In [31]:
df_reducido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199145 entries, 1342519 to 1476165
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   UniqueCarrier  199145 non-null  object
 1   AirTime        199145 non-null  float64
 2   ArrDelay       199145 non-null  float64
 3   Origin         199145 non-null  object
 4   Dest           199145 non-null  object
 5   Distance       199145 non-null  int64
 6   VelMed         199145 non-null  float64
 7   Retard         199145 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 13.7+ MB

In [32]:
round(df_reducido.describe())

        AirTime  ArrDelay  Distance    VelMed
count  199145.0  199145.0  199145.0  199145.0
mean      108.0      42.0     764.0     397.0
std        68.0      57.0     573.0     123.0
min         1.0     -61.0      31.0      34.0
25%        58.0       9.0     338.0     352.0
50%        90.0      24.0     606.0     404.0
75%       137.0      56.0     992.0     448.0
max       655.0    1395.0    4962.0   42600.0

* #### Fes una taula de les aerolínies amb més endarreriments acumulats.

In [36]:
df_reducido[['UniqueCarrier', 'ArrDelay']].groupby(['UniqueCarrier']).mean().sort_values(by=['ArrDelay'],ascending=False)

                ArrDelay
UniqueCarrier
B6             55.311986
YV             54.555491
OH             51.553552
XE             50.465308
UA             47.474881
9E             47.291674
EV             47.134252
AA             45.998933
MQ             45.799653
OO             45.208043
NW             44.915383
FL             43.839327
CO             41.198071
DL             39.790709
US             36.647749
HA             35.365759
AS             34.836862
WN             30.003241
F9             27.371663
AQ             20.376471

agrupar las aerolineas( UniqueCarrier)  con groupby() y se hace la media de los minutos de retraso (ArrDelay) con .mean().  Se ordenan los valores de forma descendiente obter los datos ordenados de mayor a menor , por lo tanto, el primer registro obtenido es la aerolineas con más retraso acumulado.

* #### Quins són els vols més llargs?

In [37]:
df_reducido[['Origin','Dest','Distance']].sort_values(by=['Distance'],ascending=False).drop_duplicates()

        Origin Dest  Distance
1415281    EWR  HNL      4962
1519768    HNL  EWR      4962
97783      ATL  HNL      4502
1576988    HNL  ATL      4502
1036528    ORD  HNL      4243
...        ...  ...       ...
1404412    GST  JNU        41
53134      SNA  LAX        36
53174      LAX  SNA        36
1913235    WRG  PSG        31
1404681    PSG  WRG        31

[4810 rows x 3 columns]

Selecciono columnas origen , destino y distancia. Uso .sort_value() para ordenar las filas del DataFrame según los valores de  la columna 'Distance'. Se ordenan demanera descendiente para obter los datos ordenados de mayor a menor , por lo tanto, el primer registro obtenido es el vuelo más largo.

* ####  I els més endarrerits?

In [38]:
df_reducido[['Origin','Dest','ArrDelay']].sort_values(by=['ArrDelay'],ascending=False)

        Origin Dest  ArrDelay
1885481    LAS  DTW    1395.0
1380381    ABQ  MSP    1359.0
1599337    SMF  MSP    1346.0
1464385    LIH  LAX    1322.0
323981     LAS  DTW    1265.0
...        ...  ...       ...
464071     PHL  SAN     -54.0
1478671    JFK  LAX     -54.0
262939     IAD  SEA     -55.0
1242601    SEA  SNA     -60.0
85894      BOS  LAS     -61.0

[199145 rows x 3 columns]

Uso .sort_value() para ordenar las filas por los  minutos de retraso (ArrDelay) en orden descendiente(de mayor a menor) por lo tanto, el primer registro obtenido es el vuelo con más retraso

## Exercici 3
Exporta el dataset net i amb les noves columnes a Excel

In [39]:
df_reducido.to_excel('Vuelos.xlsx')

#solucionado , el archivo esta subido en el directorio