## Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes
carrega’l a un Pandas Dataframe.

*Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.*

In [17]:
import pandas as pd
df = pd.read_csv('Documents/DelayedFlights.csv')
df2 = df.sample(n = 200000)
df2

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1296199,4340471,2008,8,3,7,1037.0,1025,1147.0,1133,XE,...,6.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
930580,3124710,2008,6,8,7,2135.0,2040,2244.0,2144,XE,...,4.0,10.0,0,N,0,55.0,0.0,5.0,0.0,0.0
968440,3242657,2008,6,11,3,1040.0,1029,1612.0,1551,UA,...,6.0,36.0,0,N,0,11.0,0.0,10.0,0.0,0.0
1720155,6406226,2008,11,17,1,817.0,700,1000.0,900,AS,...,3.0,8.0,0,N,0,0.0,60.0,0.0,0.0,0.0
753730,2466129,2008,5,26,1,1908.0,1900,2055.0,2050,WN,...,2.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40603,127746,2008,1,22,2,1953.0,1740,2108.0,1935,XE,...,7.0,9.0,0,N,0,0.0,0.0,22.0,0.0,71.0
1132966,3775010,2008,7,5,6,955.0,920,1055.0,1013,OH,...,7.0,22.0,0,N,0,35.0,0.0,7.0,0.0,0.0
299829,952537,2008,2,21,4,1738.0,1719,1851.0,1843,FL,...,3.0,22.0,0,N,0,NaN,NaN,NaN,NaN,NaN
399982,1240977,2008,3,22,6,839.0,805,951.0,925,WN,...,3.0,7.0,0,N,0,26.0,0.0,0.0,0.0,0.0
567993,1772339,2008,3,3,1,1017.0,930,1448.0,1405,DL,...,5.0,13.0,0,N,0,43.0,0.0,0.0,0.0,0.0

* Explora les dades que conté, explica breument quines variables hi ha

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 623728 to 700868
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199269 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199147 non-null  float64
 13  CRSElapsedTime     199982 non-null  float64
 14  AirTime            199147 non-null  float64
 15  ArrDelay           199147 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199269 non-null  float64
 21  TaxiOut            199954 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128864 non-null  float64
 26  WeatherDelay       128864 non-null  float64
 27  NASDelay           128864 non-null  float64
 28  SecurityDelay      128864 non-null  float64
 29  LateAircraftDelay  128864 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 47.3+ MB

* Queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [14]:
df2.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
623728,1981524,2008,4,29,2,715.0,700,NaN,1015,OO,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1625573,5932916,2008,10,8,3,1412.0,1300,1626.0,1452,DL,...,16.0,27.0,0,N,0,0.0,0.0,68.0,0.0,26.0
1135974,3783811,2008,7,2,3,1657.0,1553,2011.0,1910,OO,...,6.0,28.0,0,N,0,0.0,0.0,0.0,0.0,61.0
493063,1540319,2008,3,10,1,706.0,700,820.0,820,FL,...,5.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
860601,2912065,2008,5,6,2,1650.0,1605,2015.0,1920,AA,...,7.0,14.0,0,N,0,5.0,0.0,10.0,0.0,40.0

In [15]:
df2.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

## Exercici 2
Fes un informe complet del dataset:
* Resumeix estadísticament el dataset i les columnes d’interès.Fes una anàlisi estadístic del que consideris rellevant.

* Troba quantes dades faltants hi ha per columna.

In [9]:
df2.isnull().sum()

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                782
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      937
CRSElapsedTime          22
AirTime                937
ArrDelay               937
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 782
TaxiOut                 42
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71408
WeatherDelay         71408
NASDelay             71408
SecurityDelay        71408
LateAircraftDelay    71408
dtype: int64

* Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

* Fes una taula de les aerolínies amb més endarreriments acumulats.

* Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.

* Aporta allò que consideris rellevant.

## Exercici 3
Exporta el dataset net i amb les noves columnes a Excel